* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #eceff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #ff7043;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #ffffff;
    width: 350px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header h2 {
    margin-bottom: 30px;
    color: #37474f;
    font-weight: 500;
}

.user-icon {
    background: #ff7043;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px auto 20px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.user-icon img {
    width: 50px;
    height: 50px;
}

.login-field {
    margin-bottom: 20px;
    text-align: left;
}

.login-field label {
    display: block;
    color: #37474f;
    font-weight: 500;
    margin-bottom: 8px;
}

.login-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.forgot-password {
    display: block;
    text-align: right;
    color: #ff7043;
    font-size: 12px;
    text-decoration: none;
    margin-top: 5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background: #ff7043;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: #e64a19;
}
