{% extends "layout.html" %}

<title>{% block title %}Software Ingepro{% endblock %}</title>

{% block content %}
<div class="container mt-2">
    <!-- Sección del logo y dominio -->
    <div class="text-center mb-3">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Software Ingepro" class="img-fluid" style="max-width: 150px; margin-top: -20px;">
        <h4 class="mt-2 mb-2"><a href="https://software.ingepro.online" target="_blank" class="text-primary text-decoration-none">software.ingepro.online</a></h4>
    </div>

    <!-- Sección de descarga -->
    <div class="row justify-content-center mb-4">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center text-primary">{{ product.title }}</h2>

                    <div class="download-section">
                        <h5 class="text-center text-secondary mb-4">Enlaces de Descarga</h5>
                        <div class="list-group">
                            {% for link in download_links %}
                            <a href="{{ url_for('download', link_id=link.id) }}" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span class="text-dark font-weight-bold">{{ link.title }}</span>
                                <span class="badge badge-primary badge-pill">Descargar</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-outline-secondary" onclick="shareProduct()"><i class="fas fa-share-alt"></i> Compartir</button>
                    </div>

                    <!-- Sección de Recomendaciones -->
                    {% if product.recommendations %}
                    <div class="recommendations-section mt-5">
                        <h3 class="text-center text-success">Recomendaciones</h3>
                        <p class="text-center text-muted">{{ product.recommendations }}</p>
                    </div>
                    {% endif %}
                    <!-- Fin de la Sección de Recomendaciones -->
                </div>
            </div>
        </div>
    </div>

    <!-- Video de YouTube -->
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">
                    <h3 class="text-center text-primary">Mira este video sobre cómo evitar anuncios</h3>
                    <div class="text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/ApZ_5knbBtI?si=d6s5nhpqgwKIbXdn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 10px;
    }
    .card-body {
        background-color: #f9f9f9;
        border-radius: 10px;
    }
    .download-section h5 {
        border-bottom: 2px solid #007bff;
        padding-bottom: 10px;
    }
    .list-group-item {
        border: 0;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    .list-group-item:hover {
        background-color: #f0f0f0;
    }
    .list-group-item .badge {
        background-color: #007bff;
        font-size: 0.9rem;
    }
    .text-center button.btn-outline-secondary {
        background-color: #f9f9f9;
        border-color: #007bff;
        color: #007bff;
    }
    .text-center button.btn-outline-secondary:hover {
        background-color: #007bff;
        color: #fff;
    }
    .text-center img {
        margin-top: 0;
    }
    h4 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    /* Estilos para la sección de Recomendaciones */
    .recommendations-section h3 {
        border-bottom: 2px solid #28a745;
        padding-bottom: 10px;
    }
    .recommendations-section a {
        font-size: 1.1rem;
        color: #28a745;
        transition: color 0.3s ease;
    }
    .recommendations-section a:hover {
        color: #218838;
    }
</style>

<script>
function shareProduct() {
    const url = window.location.href;
    const text = `En esta página puedes encontrar todo tipo de material de ingeniería civil de alta calidad. Descubre más en: ${url}`;
    if (navigator.share) {
        navigator.share({
            title: 'Software Ingepro',
            text: text,
            url: url,
        }).then(() => {
            console.log('Gracias por compartir!');
        }).catch(console.error);
    } else {
        prompt("Copia este enlace para compartir:", url);
    }
}
</script>
{% endblock %}
