{% extends "layout.html" %}

<title>{% block title %}Software Ingepro{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="container mt-4">
    <div class="text-center mb-5">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Software Ingepro" class="img-fluid">
        <h1 class="mt-3">Bienvenido a Software Ingepro</h1>
        <p class="lead">Encuentra los mejores software, cursos, programas, apk y muchas otras cosas para tus proyectos.</p>
    </div>

    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <form class="d-flex" method="GET" action="{{ url_for('index') }}">
                <input class="form-control me-2" type="search" placeholder="Buscar productos..." aria-label="Buscar" name="query" value="{{ request.args.get('query', '') }}">
                <button class="btn" type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card shadow mb-4">
                    <div class="product-header">
                        {% if product.product_type == 'descarga_gratuita' %}
                        <span class="badge badge-success">Descarga Gratuita</span>
                        {% elif product.product_type == 'venta' %}
                        <span class="badge badge-warning">Compra</span>
                        {% endif %}
                    </div>
                    {% if product.images %}
                    <img src="{{ url_for('uploaded_file', filename='products/' ~ product.id ~ '/' ~ product.images[0].image_url.split('/')[-1]) }}" alt="{{ product.title }}" class="img-fluid product-image">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default_product.png') }}" alt="Imagen no disponible" class="img-fluid product-image">
                    {% endif %}

                    <h3 class="product-title mt-3">{{ product.title }}</h3>
                    <p class="product-description">{{ product.short_description }}</p>
                    <a href="{{ url_for('product_detail', product_id=product.id) }}" class="btn btn-primary">Ver Detalle</a>
                </div>
                {% endfor %}
            </div>
            {% if not products %}
            <div class="alert alert-warning text-center">
                No se encontraron productos. Aquí hay algunos que podrían interesarte.
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
